/* line 1, ../../sources/scss/_grid.scss */
.col-0 {
  width: 0%; }

/* line 2, ../../sources/scss/_grid.scss */
.col-1 {
  width: 8.33333%; }

/* line 3, ../../sources/scss/_grid.scss */
.col-2 {
  width: 16.66667%; }

/* line 4, ../../sources/scss/_grid.scss */
.col-3 {
  width: 25%; }

/* line 5, ../../sources/scss/_grid.scss */
.col-4 {
  width: 33.33333%; }

/* line 6, ../../sources/scss/_grid.scss */
.col-5 {
  width: 41.66667%; }

/* line 7, ../../sources/scss/_grid.scss */
.col-6 {
  width: 50%; }

/* line 8, ../../sources/scss/_grid.scss */
.col-7 {
  width: 58.33333%; }

/* line 9, ../../sources/scss/_grid.scss */
.col-8 {
  width: 66.66667%; }

/* line 10, ../../sources/scss/_grid.scss */
.col-9 {
  width: 75%; }

/* line 11, ../../sources/scss/_grid.scss */
.col-10 {
  width: 83.33333%; }

/* line 12, ../../sources/scss/_grid.scss */
.col-11 {
  width: 91.66667%; }

/* line 13, ../../sources/scss/_grid.scss */
.col-12 {
  width: 100%; }

/* line 18, ../../sources/scss/_grid.scss */
.col-0, .col-1, .col-2, .col-3,
.col-4, .col-5, .col-6, .col-7,
.col-8, .col-9, .col-10, .col-11,
.col-12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  float: left; }

/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'Verlag';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Verlag-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Verlag';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Verlag-Book.ttf") format("truetype"); }

@font-face {
  font-family: 'Verlag';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Verlag-Light.ttf") format("truetype"); }

/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Large screens ----------- */
/* line 35, ../../sources/scss/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 39, ../../sources/scss/_base.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #565656;
  font-family: Verlag, Helvetica Neue, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; }

/* line 51, ../../sources/scss/_base.scss */
a {
  text-decoration: none;
  color: white; }

/* line 57, ../../sources/scss/_base.scss */
h1, h2, h3, h4, h5, h6,
p, ul, ol, li {
  margin: 0;
  padding: 0; }

/* line 62, ../../sources/scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: sans-serif;
  font-weight: bold; }

/* line 5, ../../sources/scss/screen.scss */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

/* line 13, ../../sources/scss/screen.scss */
.hero-container {
  position: relative;
  width: 100%;
  background-image: url("../images/bg-hero.jpg");
  background-size: cover;
  background-position: center; }

/* line 21, ../../sources/scss/screen.scss */
.hero-logo {
  background-image: url("../images/logo-hero.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 240px;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%); }

/* line 34, ../../sources/scss/screen.scss */
p {
  font-size: 1.15em;
  line-height: 1.7em;
  font-weight: normal;
  color: #2d302f; }

/* line 41, ../../sources/scss/screen.scss */
.content-container {
  position: relative;
  height: 1500px;
  width: 100%;
  background-color: white; }
  /* line 47, ../../sources/scss/screen.scss */
  .content-container .about {
    background-image: url("../images/logo-house.png");
    background-size: 200px auto;
    background-position: 5%;
    background-repeat: no-repeat;
    padding-top: 138px;
    padding-bottom: 120px;
    padding-left: 270px;
    padding-right: 120px;
    max-width: 850px;
    margin: auto; }
  /* line 60, ../../sources/scss/screen.scss */
  .content-container .grid-section {
    width: 870px;
    margin: 0 auto; }
    /* line 64, ../../sources/scss/screen.scss */
    .content-container .grid-section .grid-container-left {
      width: 50%;
      float: left;
      text-align: right;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    /* line 72, ../../sources/scss/screen.scss */
    .content-container .grid-section .grid-container-right {
      width: 50%;
      float: right;
      text-align: left;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    /* line 80, ../../sources/scss/screen.scss */
    .content-container .grid-section .grid-quote {
      width: 100%;
      padding: 4em; }
      /* line 83, ../../sources/scss/screen.scss */
      .content-container .grid-section .grid-quote h3 {
        color: #2b8879;
        text-align: center;
        font-family: "adobe-garamond-pro",sans-serif;
        font-style: italic;
        font-size: 1.8em;
        font-weight: 200; }
    /* line 93, ../../sources/scss/screen.scss */
    .content-container .grid-section .grid-info {
      width: 100%;
      padding: 3.1em;
      float: left; }
    /* line 99, ../../sources/scss/screen.scss */
    .content-container .grid-section .grid-photo-container {
      position: relative; }
      /* line 102, ../../sources/scss/screen.scss */
      .content-container .grid-section .grid-photo-container .photo-wrapper {
        overflow: hidden;
        position: relative;
        padding: 4px; }
        /* line 106, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .grid-photo {
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; }
        /* line 110, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .grid-photo-landscape-1 {
          width: 100%;
          padding-bottom: 50%;
          background-image: url(https://ununsplash.imgix.net/reserve/J3URHssSQyqifuJVcgKu_Wald.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050); }
        /* line 115, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .grid-photo-landscape-2 {
          float: right;
          width: 65%;
          padding-bottom: 30%;
          background-image: url(https://ununsplash.imgix.net/uploads/1412825195419af52b492/8bc72ed7?fit=crop&fm=jpg&h=700&q=75&w=1050); }
        /* line 121, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .grid-photo-landscape-3 {
          float: right;
          width: 65%;
          padding-bottom: 50%;
          background-image: url(https://ununsplash.imgix.net/photo-1415226620463-aedee27159c5?fit=crop&fm=jpg&h=800&q=75&w=1050); }
        /* line 127, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .grid-photo-portrait {
          float: left;
          width: 50%;
          padding-bottom: 85%;
          background-image: url(http://41.media.tumblr.com/fd71490d7db24b9b92450d0443b5ad47/tumblr_nfty4o99k61ta0hnbo1_1280.jpg); }
        /* line 133, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .photo-box-container {
          width: 50%; }
        /* line 136, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .grid-photo-box-1 {
          padding: 4px;
          width: 100%;
          padding-bottom: 100%;
          background-image: url(http://41.media.tumblr.com/fd71490d7db24b9b92450d0443b5ad47/tumblr_nfty4o99k61ta0hnbo1_1280.jpg); }
        /* line 142, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .grid-photo-box-2 {
          padding: 4px;
          width: 100%;
          padding-bottom: 90%;
          background-image: url(http://41.media.tumblr.com/fd71490d7db24b9b92450d0443b5ad47/tumblr_nfty4o99k61ta0hnbo1_1280.jpg); }

/* line 153, ../../sources/scss/screen.scss */
.navbar {
  position: absolute;
  height: 40px;
  width: 100%;
  top: -40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 0.8em;
  z-index: 700; }
  /* line 164, ../../sources/scss/screen.scss */
  .navbar ul {
    padding: 0;
    margin: 0; }
    /* line 168, ../../sources/scss/screen.scss */
    .navbar ul li {
      position: relative;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
      opacity: 0.65;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s;
      display: inline-block;
      padding-left: 2.5em;
      padding-right: 2.5em; }
      /* line 176, ../../sources/scss/screen.scss */
      .navbar ul li:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
        /* line 179, ../../sources/scss/screen.scss */
        .navbar ul li:hover:after {
          width: 70%;
          left: 15%;
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
          opacity: 1; }
      /* line 186, ../../sources/scss/screen.scss */
      .navbar ul li:after {
        content: "";
        position: absolute;
        bottom: -8px;
        height: 1px;
        width: 0%;
        left: 50%;
        background-color: white;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
        opacity: 0.65;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }

/* line 202, ../../sources/scss/screen.scss */
#black-nav {
  position: fixed;
  top: 0px;
  padding-top: 20px;
  padding-bottom: 32px;
  opacity: 0;
  overflow: hidden; }
  /* line 211, ../../sources/scss/screen.scss */
  #black-nav a {
    color: black; }
  /* line 216, ../../sources/scss/screen.scss */
  #black-nav li:after {
    background-color: black; }
  /* line 221, ../../sources/scss/screen.scss */
  #black-nav .navbar-bg {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -20px;
    width: 100%;
    max-width: 900px;
    height: 72px;
    background-color: white;
    border-bottom: 1px solid gainsboro; }
