/* line 1, ../../sources/scss/_grid.scss */
.col-0 {
  width: 0%; }

/* line 2, ../../sources/scss/_grid.scss */
.col-1 {
  width: 8.33333%; }

/* line 3, ../../sources/scss/_grid.scss */
.col-2 {
  width: 16.66667%; }

/* line 4, ../../sources/scss/_grid.scss */
.col-3 {
  width: 25%; }

/* line 5, ../../sources/scss/_grid.scss */
.col-4 {
  width: 33.33333%; }

/* line 6, ../../sources/scss/_grid.scss */
.col-5 {
  width: 41.66667%; }

/* line 7, ../../sources/scss/_grid.scss */
.col-6 {
  width: 50%; }

/* line 8, ../../sources/scss/_grid.scss */
.col-7 {
  width: 58.33333%; }

/* line 9, ../../sources/scss/_grid.scss */
.col-8 {
  width: 66.66667%; }

/* line 10, ../../sources/scss/_grid.scss */
.col-9 {
  width: 75%; }

/* line 11, ../../sources/scss/_grid.scss */
.col-10 {
  width: 83.33333%; }

/* line 12, ../../sources/scss/_grid.scss */
.col-11 {
  width: 91.66667%; }

/* line 13, ../../sources/scss/_grid.scss */
.col-12 {
  width: 100%; }

/* line 18, ../../sources/scss/_grid.scss */
.col-0, .col-1, .col-2, .col-3,
.col-4, .col-5, .col-6, .col-7,
.col-8, .col-9, .col-10, .col-11,
.col-12 {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  position: relative;
  float: left; }

/* line 17, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline; }

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1; }

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none; }

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none; }
  /* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
  q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none; }

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none; }

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block; }

@font-face {
  font-family: 'Verlag';
  font-weight: 600;
  font-style: normal;
  src: url("../fonts/Verlag-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Verlag';
  font-weight: 400;
  font-style: normal;
  src: url("../fonts/Verlag-Book.ttf") format("truetype"); }

@font-face {
  font-family: 'Verlag';
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Verlag-Light.ttf") format("truetype"); }

/* Smartphones (landscape) ----------- */
/* Smartphones (portrait) ----------- */
/* iPads (landscape) ----------- */
/* iPads (portrait) ----------- */
/* Large screens ----------- */
/* line 36, ../../sources/scss/_base.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* line 40, ../../sources/scss/_base.scss */
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #565656;
  font-family: Verlag, Helvetica Neue, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased; }

/* line 52, ../../sources/scss/_base.scss */
a {
  text-decoration: none;
  color: white; }

/* line 58, ../../sources/scss/_base.scss */
h1, h2, h3, h4, h5, h6,
p, ul, ol, li {
  margin: 0;
  padding: 0; }

/* line 63, ../../sources/scss/_base.scss */
h1, h2, h3, h4, h5, h6 {
  font-family: Verlag, Helvetica Neue, Helvetica, sans-serif;
  font-weight: bold; }

@font-face {
  font-family: 'icomoon';
  src: url("../fonts/icomoon.eot?-w3nxpn");
  src: url("../fonts/icomoon.eot?#iefix-w3nxpn") format("embedded-opentype"), url("../fonts/icomoon.woff?-w3nxpn") format("woff"), url("../fonts/icomoon.ttf?-w3nxpn") format("truetype"), url("../fonts/icomoon.svg?-w3nxpn#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

/* line 12, ../../sources/scss/_icons.scss */
[class^="icon-"], [class*=" icon-"] {
  font-family: 'icomoon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

/* line 26, ../../sources/scss/_icons.scss */
.icon-gasskas-logo:before {
  content: "\e600"; }

/* line 6, ../../sources/scss/screen.scss */
.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto; }

/* line 14, ../../sources/scss/screen.scss */
.hero-container {
  position: relative;
  width: 100%;
  background-image: url("../images/bg-hero.jpg");
  background-size: cover;
  background-position: center; }

/*.hero-logo {
	background-image: url('../images/logo-hero.png');
	background-size: contain;
	background-position: center;
	background-repeat:no-repeat;
	width: 240px;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	@include transform (translateX(-50%));
}*/
/* line 35, ../../sources/scss/screen.scss */
.hero-logo {
  font-family: sans-serif;
  font-size: 1em;
  line-height: 1.5;
  color: white;
  position: absolute;
  left: 50%;
  top: 30%;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  font-size: 14em; }

/* line 47, ../../sources/scss/screen.scss */
p {
  font-size: 1.15em;
  line-height: 1.7em;
  font-weight: normal;
  color: #2d302f; }

/* line 54, ../../sources/scss/screen.scss */
.content-container {
  position: relative;
  height: 1500px;
  width: 100%;
  background-color: white; }
  /* line 60, ../../sources/scss/screen.scss */
  .content-container .section-title {
    width: 100%;
    position: relative;
    padding: 25px; }
    /* line 65, ../../sources/scss/screen.scss */
    .content-container .section-title h1 {
      font-weight: normal;
      font-size: 1.5em;
      letter-spacing: 0.3em; }
      /* line 70, ../../sources/scss/screen.scss */
      .content-container .section-title h1:after {
        content: "";
        position: absolute;
        height: 2px;
        width: 60px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%);
        bottom: 0px;
        background-color: #c8c8c8; }
  /* line 83, ../../sources/scss/screen.scss */
  .content-container .about {
    background-image: url("../images/logo-house.png");
    background-size: 200px auto;
    background-position: 5%;
    background-repeat: no-repeat;
    padding-top: 138px;
    padding-bottom: 120px;
    padding-left: 270px;
    padding-right: 120px;
    max-width: 850px;
    margin: auto; }
  /* line 96, ../../sources/scss/screen.scss */
  .content-container .grid-section {
    width: 870px;
    margin: 0 auto; }
    /* line 100, ../../sources/scss/screen.scss */
    .content-container .grid-section .grid-container-left {
      width: 50%;
      float: left;
      text-align: right;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    /* line 107, ../../sources/scss/screen.scss */
    .content-container .grid-section .grid-container-right {
      width: 50%;
      float: right;
      text-align: left;
      position: relative;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    /* line 114, ../../sources/scss/screen.scss */
    .content-container .grid-section .grid-quote {
      width: 100%;
      padding: 5.3em 4em 5.3em 4em; }
      /* line 117, ../../sources/scss/screen.scss */
      .content-container .grid-section .grid-quote h3 {
        color: #248879;
        text-align: center;
        font-family: "adobe-garamond-pro",Garamond, Georgia, serif;
        font-style: italic;
        font-size: 2.0em;
        font-weight: 200; }
    /* line 126, ../../sources/scss/screen.scss */
    .content-container .grid-section .grid-info {
      width: 100%;
      padding: 3.1em;
      float: left; }
    /* line 133, ../../sources/scss/screen.scss */
    .content-container .grid-section .grid-photo-container {
      position: relative; }
      /* line 136, ../../sources/scss/screen.scss */
      .content-container .grid-section .grid-photo-container .photo-wrapper {
        overflow: hidden;
        position: relative;
        padding: 4px; }
        /* line 140, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .grid-photo {
          -webkit-background-size: cover;
          -moz-background-size: cover;
          -o-background-size: cover;
          background-size: cover; }
        /* line 144, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .grid-photo-landscape-1 {
          width: 100%;
          padding-bottom: 50%;
          background-image: url("../images/grid-lemmel.jpg"); }
        /* line 150, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .grid-photo-landscape-2 {
          float: right;
          width: 65%;
          padding-bottom: 30%;
          background-image: url("../images/grid-gasskas.jpg"); }
        /* line 157, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .grid-photo-landscape-3 {
          float: right;
          width: 65%;
          padding-bottom: 50%;
          background-image: url("../images/grid-concert.jpg"); }
        /* line 164, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .grid-photo-portrait {
          float: left;
          width: 50%;
          padding-bottom: 95%;
          background-image: url("../images/grid-door.jpg"); }
        /* line 171, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .photo-box-container {
          width: 50%; }
        /* line 174, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .grid-photo-box-1 {
          padding: 4px;
          width: 100%;
          padding-bottom: 100%;
          background-image: url("../images/grid-jannok.jpg"); }
        /* line 181, ../../sources/scss/screen.scss */
        .content-container .grid-section .grid-photo-container .photo-wrapper .grid-photo-box-2 {
          padding: 4px;
          width: 100%;
          padding-bottom: 90%;
          background-image: url("../images/grid-fire.jpg"); }
  /* line 192, ../../sources/scss/screen.scss */
  .content-container .opening-times-container {
    margin-top: 100px;
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    background-image: url("/images/bg-trees.jpg");
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 40px; }
    /* line 204, ../../sources/scss/screen.scss */
    .content-container .opening-times-container .season-title {
      margin-top: 60px; }
      /* line 206, ../../sources/scss/screen.scss */
      .content-container .opening-times-container .season-title h4 {
        color: #29282c;
        letter-spacing: 6px;
        font-size: 1.2em; }
      /* line 211, ../../sources/scss/screen.scss */
      .content-container .opening-times-container .season-title p {
        margin-top: 8px;
        text-align: center;
        font-family: "adobe-garamond-pro",sans-serif;
        font-style: italic;
        font-size: 1.6em;
        font-weight: 200;
        color: #787878; }
    /* line 221, ../../sources/scss/screen.scss */
    .content-container .opening-times-container .times {
      max-width: 600px;
      margin: auto;
      margin-top: 35px;
      padding: 10px;
      color: #2d302f;
      display: inline-block;
      width: 100%; }
      /* line 230, ../../sources/scss/screen.scss */
      .content-container .opening-times-container .times .time-line {
        width: 100%;
        height: 100%;
        padding: 0px 20px 0px 20px; }
        /* line 234, ../../sources/scss/screen.scss */
        .content-container .opening-times-container .times .time-line .date-p {
          float: left;
          width: 50%;
          text-align: left; }
        /* line 239, ../../sources/scss/screen.scss */
        .content-container .opening-times-container .times .time-line .time-p {
          float: left;
          width: 50%;
          text-align: right; }
        /* line 244, ../../sources/scss/screen.scss */
        .content-container .opening-times-container .times .time-line p {
          font-size: 1.4em;
          font-weight: 200; }
      /* line 249, ../../sources/scss/screen.scss */
      .content-container .opening-times-container .times .sep {
        float: left;
        content: "";
        width: 100%;
        height: 1px;
        background-color: gainsboro;
        margin: 10px 0px 10px 0px; }
    /* line 258, ../../sources/scss/screen.scss */
    .content-container .opening-times-container .fb {
      margin: 40px 0px 80px 0px; }
      /* line 260, ../../sources/scss/screen.scss */
      .content-container .opening-times-container .fb p {
        font-size: 1.3em;
        font-weight: 200; }
  /* line 267, ../../sources/scss/screen.scss */
  .content-container .our-menu-container {
    width: 100%;
    height: auto;
    position: relative;
    display: inline-block;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 60px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 60px; }
    /* line 279, ../../sources/scss/screen.scss */
    .content-container .our-menu-container p {
      font-family: "adobe-garamond-pro",Garamond,Georgia,sans-serif; }
    /* line 282, ../../sources/scss/screen.scss */
    .content-container .our-menu-container .course-container {
      max-width: 700px;
      width: 100%;
      height: auto;
      background-color: #fff;
      margin: auto;
      margin-top: 100px;
      border: 1px solid #bebebe;
      position: relative; }
      /* line 292, ../../sources/scss/screen.scss */
      .content-container .our-menu-container .course-container .course-title {
        z-index: 100;
        position: absolute;
        top: -6px;
        background-color: #fff;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 190px; }
      /* line 302, ../../sources/scss/screen.scss */
      .content-container .our-menu-container .course-container h4 {
        color: #29282c;
        letter-spacing: 6px;
        font-size: 1.2em; }
      /* line 307, ../../sources/scss/screen.scss */
      .content-container .our-menu-container .course-container .lunch-items {
        margin-top: 4em;
        margin-bottom: 3.5em; }
        /* line 310, ../../sources/scss/screen.scss */
        .content-container .our-menu-container .course-container .lunch-items .lunch-item {
          margin-top: 2em; }
          /* line 312, ../../sources/scss/screen.scss */
          .content-container .our-menu-container .course-container .lunch-items .lunch-item h3 {
            font-family: "adobe-garamond-pro",Garamond,Georgia,sans-serif;
            font-variant: small-caps;
            font-size: 1.7em;
            color: #646469; }
          /* line 318, ../../sources/scss/screen.scss */
          .content-container .our-menu-container .course-container .lunch-items .lunch-item p {
            font-style: italic;
            font-size: 1.4em;
            color: #78787d; }
          /* line 323, ../../sources/scss/screen.scss */
          .content-container .our-menu-container .course-container .lunch-items .lunch-item p.price {
            color: #248879;
            font-size: 1.6em; }
      /* line 329, ../../sources/scss/screen.scss */
      .content-container .our-menu-container .course-container .dinner-description {
        margin-top: 2em; }
        /* line 331, ../../sources/scss/screen.scss */
        .content-container .our-menu-container .course-container .dinner-description p {
          font-style: italic;
          font-size: 1.6em;
          color: #3e4241; }
        /* line 336, ../../sources/scss/screen.scss */
        .content-container .our-menu-container .course-container .dinner-description p.price {
          color: #248879; }
      /* line 340, ../../sources/scss/screen.scss */
      .content-container .our-menu-container .course-container .dinner-items {
        max-width: 400px;
        margin: auto;
        margin-top: 2em;
        margin-bottom: 3.5em; }
        /* line 345, ../../sources/scss/screen.scss */
        .content-container .our-menu-container .course-container .dinner-items .dinner-item {
          margin-top: 2em; }
          /* line 347, ../../sources/scss/screen.scss */
          .content-container .our-menu-container .course-container .dinner-items .dinner-item h3 {
            font-family: "adobe-garamond-pro",Garamond,Georgia,sans-serif;
            font-variant: small-caps;
            font-size: 1.5em;
            color: #646469; }
          /* line 353, ../../sources/scss/screen.scss */
          .content-container .our-menu-container .course-container .dinner-items .dinner-item p {
            font-style: italic;
            font-size: 1.3em;
            color: #78787d;
            line-height: 1.2em; }
        /* line 360, ../../sources/scss/screen.scss */
        .content-container .our-menu-container .course-container .dinner-items .dot {
          margin: auto;
          margin-top: 20px;
          margin-bottom: -10px;
          width: 6px;
          height: 6px;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          -ms-border-radius: 3px;
          -o-border-radius: 3px;
          border-radius: 3px;
          background-color: #aaaaaa; }
    /* line 371, ../../sources/scss/screen.scss */
    .content-container .our-menu-container .course-container:before {
      background: none;
      border: 1px solid #bebebe;
      content: "";
      display: block;
      position: absolute;
      top: 4px;
      left: 4px;
      right: 4px;
      bottom: 4px;
      pointer-events: none; }
  /* line 384, ../../sources/scss/screen.scss */
  .content-container .course-info {
    margin-top: 1.5em; }
    /* line 386, ../../sources/scss/screen.scss */
    .content-container .course-info p {
      font-family: "adobe-garamond-pro",Garamond,Georgia,sans-serif;
      font-style: italic;
      color: #6c6a73;
      font-size: 1.3em;
      line-height: 1.3em; }

/* line 396, ../../sources/scss/screen.scss */
.bordered-button {
  display: inline-block;
  border: 2px solid #7a91c3;
  letter-spacing: 2px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 1.2em 5.5em;
  -webkit-transition: all 0.15s;
  -moz-transition: all 0.15s;
  -o-transition: all 0.15s;
  transition: all 0.15s;
  color: #4964a2;
  margin-top: 1em; }
  /* line 407, ../../sources/scss/screen.scss */
  .bordered-button:hover {
    border: 2px solid #565656;
    color: black; }

/* line 413, ../../sources/scss/screen.scss */
.navbar {
  position: absolute;
  height: 40px;
  width: 100%;
  top: -40px;
  text-align: center;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 4px;
  font-size: 0.8em;
  z-index: 700; }
  /* line 424, ../../sources/scss/screen.scss */
  .navbar ul {
    padding: 0;
    margin: 0; }
    /* line 428, ../../sources/scss/screen.scss */
    .navbar ul li {
      position: relative;
      filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
      opacity: 0.65;
      -webkit-transition: opacity 0.2s;
      -moz-transition: opacity 0.2s;
      -o-transition: opacity 0.2s;
      transition: opacity 0.2s;
      display: inline-block;
      padding-left: 2.5em;
      padding-right: 2.5em; }
      /* line 436, ../../sources/scss/screen.scss */
      .navbar ul li:hover {
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
        opacity: 1; }
        /* line 439, ../../sources/scss/screen.scss */
        .navbar ul li:hover:after {
          width: 70%;
          left: 15%;
          filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
          opacity: 1; }
      /* line 446, ../../sources/scss/screen.scss */
      .navbar ul li:after {
        content: "";
        position: absolute;
        bottom: -8px;
        height: 1px;
        width: 0%;
        left: 50%;
        background-color: white;
        filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=65);
        opacity: 0.65;
        -webkit-transition: all 0.2s;
        -moz-transition: all 0.2s;
        -o-transition: all 0.2s;
        transition: all 0.2s; }

/* line 462, ../../sources/scss/screen.scss */
#black-nav {
  position: fixed;
  top: 0px;
  padding-top: 20px;
  padding-bottom: 32px;
  opacity: 0;
  overflow: hidden; }
  /* line 470, ../../sources/scss/screen.scss */
  #black-nav a {
    color: black; }
  /* line 475, ../../sources/scss/screen.scss */
  #black-nav li:after {
    background-color: black; }
  /* line 480, ../../sources/scss/screen.scss */
  #black-nav .navbar-bg {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    top: -20px;
    width: 100%;
    max-width: 900px;
    height: 72px;
    background-color: white;
    border-bottom: 1px solid gainsboro; }
