@font-face {
  font-family: 'Verlag';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Verlag-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Verlag';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Verlag-Book.ttf') format('truetype');
}

@font-face {
  font-family: 'Verlag';
  font-weight: 300;
  font-style: normal;
  src: url('../fonts/Verlag-Light.ttf') format('truetype');
}