@import "compass";
@import "grid";
@import "base";
@import "icons";

@media #{$mq-small} {
   .not-small {
      display: none;
   }
}

.container {
   width: 100%;
   max-width: 960px;
   margin: 0 auto;

   @media #{$mq-medium} {}
}

.hero-container {
	position: relative;
	width: 100%;
	background-image: url('../images/bg-hero.jpg');
	background-size: cover;
	background-position: center;
	h1 {
		text-indent: -30000px;
	}
}

/*.hero-logo {
	background-image: url('../images/logo-hero.png');
	background-size: contain;
	background-position: center;
	background-repeat:no-repeat;
	width: 240px;
	height: 100%;
	position: absolute;
	left: 50%;
	top: 0;
	@include transform (translateX(-50%));
}*/

.hero-logo {
	font-family: sans-serif;
	font-size: 1em;
	line-height: 1.5;
	color: white;
	position: absolute;
	left: 50%;
	top: 30%;
	@include transform (translateX(-50%));
	font-size: 14em;

	@media #{$mq-small} {
	   top:20%;
	   font-size:9em;
	}
}

p {
	font-size: 1.15em;
	line-height: 1.7em;
	font-weight: normal;
	color: $color-text-darkgray;
}

.navbar {
	position: absolute;
	height: 40px;
	width: 100%;
	top:-40px;
	text-align: center;
	text-transform: uppercase;
	font-weight:bold;
	letter-spacing: 4px;
	font-size:0.8em;
	z-index: 700;

	@media #{$mq-small} {
	   //top:20%;
	   font-size:0.75em;
	   letter-spacing: 2px;
	}

	ul {
		padding:0;
		margin:0;

		li {
			position: relative;
			@include opacity (0.65);
			@include transition(opacity 0.2s);
			display:inline-block;
			padding-left: 2.5em;
			padding-right: 2.5em;
			padding-top:2px;
			@media #{$mq-small} {
			   @include opacity (0.9);
			   padding-left:9px;
			   padding-right:9px;
			}
			@media #{$mq-big} {
				&:hover {
					@include opacity(1);

					&:after {
						width: 70%;
						left: 15%;
						@include opacity(1);
					}
				}

				&:after {
					content: "";
					position: absolute;
					bottom: -8px;
					height: 1px;
					width: 0%;
					left: 50%;
					background-color: white;
					@include opacity(0.65);
					@include transition(all 0.2s);
				}
			}
			@media #{$mq-phone-portrait} {
				&:first-child {
					display:none;
				}
			}
		}
	}								
}

#black-nav {
	position: fixed;
	top: 0px;
	padding-top:20px;
	padding-bottom:32px;
	opacity: 0;
	overflow: hidden;
	
	a {
		color: black;
	}

	li {
		&:after {
			background-color: black;
		}
	}

	.navbar-bg {
		position: absolute;
		left: 50%;
		@include transform(translateX(-50%));
		top:-20px;
		width: 100%;
		max-width: 900px;
		height: 72px;
		background-color: white;
		border-bottom: 1px solid rgba(220,220,220,1);
	}
}

.content-container {
	position: relative;
	height: auto;
	width: 100%;
	background-color: white;

	.section-title {
		width: 100%;
		position: relative;
		padding:25px;

		h1 {
			font-weight: normal;
			font-size: 1.5em;
			letter-spacing: 0.3em;

			@media #{$mq-small} {
				font-size:1.3em;
				letter-spacing: 0.2em;
			}

			&:after {
				content: "";
				position: absolute;
				height: 2px;
				width: 60px;
				left: 50%;
				@include transform(translateX(-50%));
				bottom:0px;
				background-color: $color-text-light;
			}
		}
	}

	.about {
		//background-color: rgba(0,0,0,0.1);
		background-image: url('../images/logo-house.png');
		background-size: 200px auto;
		background-position: 5%;
		background-repeat: no-repeat;
		padding-top: 138px;
		padding-bottom: 120px;
		padding-left: 270px;
		padding-right: 120px;
		max-width: $max-width;
		margin: auto;

		@media #{$mq-small} {
			background-position: center 10%;
			padding: 260px 20px 20px 20px;
			text-align: center;
		}
	}
	.grid-section {
		width: 870px;
		margin: 0 auto;
		@media #{$mq-tablet-portrait} {
			width: 100%;
		}

		@media #{$mq-small} {
			width: 100%;
		}

		.grid-container-left {
			width: 50%;
			float: left;
			text-align: right;
			position: relative;
			@include box-sizing(border-box);

			@media #{$mq-small} {
				width: 100%;
			}
		}
		.grid-container-right {
			width: 50%;
			float: right;
			text-align: left;
			position: relative;
			@include box-sizing(border-box); 
			@media #{$mq-small} {
				display: none;
			}
		}
		.grid-quote {
			width: 100%;
			padding: 5.3em 4em 5.3em 4em;
			@media #{$mq-tablet-portrait} {
				padding: 5.3em 2em 5.3em 2em;
			}
			h3 {
				color: $color-teal;
				text-align: center;
  				font-family: "adobe-garamond-pro",Garamond, Georgia, serif;
  				font-style:italic;
  				font-size:2.0em;
  				font-weight: 200;
  			}
  			@media #{$mq-small} {
				padding:3em 0em 3em 0em;
			}
		}
		.grid-info {
			//@extend %clearfix;
			width: 100%;
			padding: 3.1em;
			float: left;
		}

		.grid-photo-container {
			//@extend %clearfix;
			position: relative;
			.photo-wrapper {
				overflow:hidden;
				position: relative;
				padding: 4px;
				.grid-photo {
					@include background-size(cover);
				}

				.grid-photo-landscape-1 {
					width: 100%;
					padding-bottom: 50%;
					//background-image: url(https://ununsplash.imgix.net/reserve/J3URHssSQyqifuJVcgKu_Wald.jpg?fit=crop&fm=jpg&h=700&q=75&w=1050);
					background-image: url('../images/grid-lemmel.jpg');
					@media #{$mq-small} {
						padding-bottom: 55%;
					}
				}
				.grid-photo-landscape-2 {
					float: right;
					width: 65%;
					padding-bottom: 30%;
					//background-image: url(https://ununsplash.imgix.net/uploads/1412825195419af52b492/8bc72ed7?fit=crop&fm=jpg&h=700&q=75&w=1050);
					background-image: url('../images/grid-gasskas.jpg');
					@media #{$mq-small} {
						width: 100%;
						padding-bottom: 50%;
					}
				}
				.grid-photo-landscape-3 {
					float: right;
					width: 65%;
					padding-bottom: 50%;
					//background-image: url(https://ununsplash.imgix.net/photo-1415226620463-aedee27159c5?fit=crop&fm=jpg&h=800&q=75&w=1050);
					background-image: url('../images/grid-concert.jpg');
					@media #{$mq-small} {
						width: 100%;
						padding-bottom: 70%;
					}
				}
				.grid-photo-portrait {
					float: left;
					width: 50%;
					padding-bottom: 95%;
					//background-image: url(http://41.media.tumblr.com/fd71490d7db24b9b92450d0443b5ad47/tumblr_nfty4o99k61ta0hnbo1_1280.jpg);
					background-image: url('../images/grid-door.jpg');
				}
				.photo-box-container {
					width: 50%;
				}
				.grid-photo-box-1 {
					padding: 4px;
					width: 100%;
					padding-bottom: 100%;
					//background-image: url(http://41.media.tumblr.com/fd71490d7db24b9b92450d0443b5ad47/tumblr_nfty4o99k61ta0hnbo1_1280.jpg);
					background-image: url('../images/grid-jannok.jpg');
				}
				.grid-photo-box-2 {
					padding: 4px;
					width: 100%;
					padding-bottom: 90%;
					//background-image: url(http://41.media.tumblr.com/fd71490d7db24b9b92450d0443b5ad47/tumblr_nfty4o99k61ta0hnbo1_1280.jpg);
					background-image: url('../images/grid-fire.jpg');
				}
			}
		}
	}

	.opening-times-container {
		margin-top:100px;
		width: 100%;
		height: auto;
		position: relative;
		display: inline-block;
		background-image: url("/images/bg-trees.jpg");
		background-size: cover;
		background-position: center;
		text-align:center;
		padding-top: 40px;

		@media #{$mq-small} {
			margin-top:10px;
		}

		.season-title {
			margin-top: 60px;
			@media #{$mq-small} {
				margin-top:40px;
			}
			h4 {
				color: rgba(41,40,44,1);
				letter-spacing: 6px;
				font-size: 1.2em;
				@media #{$mq-small} {
					font-size:1em;
					letter-spacing: 4px;
				}
			}
			p {
				margin-top: 8px;
				text-align: center;
  				font-family: "adobe-garamond-pro",Garamond, Georgia, serif;
  				font-style:italic;
  				font-size:1.6em;
  				font-weight: 200;
  				color: rgba(120,120,120,1);

  				@media #{$mq-small} {
					font-size:1.3em;
				}
			}
		}
		.times {
			max-width: 600px;
			margin: auto;
			margin-top:35px;
			padding: 10px;
			color: rgba(45,48,47,1);
			display:inline-block;
			width: 100%;

			@media #{$mq-small} {
				margin-top:20px;
			}

			.time-line {
				width: 100%;
				height: 100%;
				padding: 0px 20px 0px 20px;
				@media #{$mq-small} {
					padding: 0px 10px 0px 10px;
				}
				.date-p {
					float:left;
					width: 50%;
					text-align: left;
				}
				.time-p {
					float:left;
					width: 50%;
					text-align: right;
				}
				p {
					font-size:1.4em;
					font-weight: 200;
					@media #{$mq-small} {
						font-size:1.2em;
					}
				}
			}
			.sep {
				float:left;
				content: "";
				width: 100%;
				height: 1px;
				background-color: rgba(220,220,220,1);
				margin: 10px 0px 10px 0px;
			}
		}
		.fb {
			margin: 40px 0px 80px 0px;
			p {
				font-size:1.3em;
				font-weight: 200;
				@media #{$mq-small} {
					font-size:1em;
				}
			}
			@media #{$mq-small} {
				a {
					font-size:0.9em;
				}
			}
		}
	}

	.our-menu-container {
		width: 100%;
		height: auto;
		position: relative;
		text-align:center;
		padding-top: 60px;
		padding-left: 5px;
		padding-right: 5px;
		margin-bottom: 60px;

		@media #{$mq-small} {
			padding-top:10px;
			margin-bottom: 40px;
		}

		p {
			font-family: "adobe-garamond-pro",Garamond,Georgia,sans-serif;
		}
		.course-container {
			max-width: 700px;
			width: 100%;
			height: auto;
			background-color: #fff;
			margin:auto;
			margin-top: 100px;
			border: 1px solid rgba(190,190,190,1);
		    position: relative;
		    @media #{$mq-small} {
		    	margin-top:60px;
		    }

		    .course-title {
		    	z-index: 100;
		    	position:absolute;
		    	top: -10px;
		    	background-color: #fff;
		    	left: 0;
		    	right: 0;
		    	margin: 0 auto;
		    	padding-top: 4px;
		    	width: 240px;
		    }
			h4 {
				color: rgba(41,40,44,1);
				letter-spacing: 6px;
				font-size: 1.2em;
			}
			.lunch-items {
				margin: auto;
				margin-top: 4em;
				margin-bottom: 3.5em;
				@media #{$mq-small} {
					width:90%;
				}

				.lunch-item {
					margin-top:2em;
					h3 {
						font-family: "adobe-garamond-pro",Garamond,Georgia,sans-serif;
						font-variant: small-caps;
						font-size:1.7em;
						color: rgba(100,100,105,1);
						@media #{$mq-small} {
							font-size:1.5em;
						}
					}
					p {
						font-style: italic;
						font-size:1.4em;
						color: rgba(120,120,125,1);
						@media #{$mq-small} {
							font-size:1.2em;
						}
					}
					p.price {
						color: $color-teal;
						font-size:1.6em;
					}
				}
			}
			.dinner-description {
				margin-top:2em;
				p {
					font-style:italic;
					font-size:1.6em;
					color: rgba(62,66,65,1);
				}
				p.price {
					color: $color-teal;
				}
			}
			.dinner-items {
				max-width: 400px;
				margin:auto;
				margin-top: 2em;
				margin-bottom: 3.5em;
				@media #{$mq-small} {
					width:85%;
				}
				.dinner-item {
					margin-top:2em;
					h3 {
						font-family: "adobe-garamond-pro",Garamond,Georgia,sans-serif;
						font-variant: small-caps;
						font-size:1.5em;
						color: rgba(100,100,105,1);
					}
					p {
						font-style: italic;
						font-size:1.3em;
						color: rgba(120,120,125,1);
						line-height: 1.2em;
						@media #{$mq-small} {
							font-size:1.2em;
						}
					}
				}
				.dot {
					margin: auto;
					margin-top:20px;
					margin-bottom:-10px;
					width:6px;
					height:6px;
					@include border-radius(3px);
					background-color: rgba(200,200,200,1);
				}
			}
		}
		.course-container:before {
		    background: none;
		    border: 1px solid rgba(190,190,190,1);;
		    content: "";
		    display: block;
		    position: absolute;
		    top: 4px;
		    left: 4px;
		    right: 4px;
		    bottom: 4px;
		    pointer-events: none;
		}
	}
	.course-info {
		margin-top:1.5em;
		@media #{$mq-small} {
			margin-top:1em;
			margin-bottom: 5em;
		}
		p {
			font-family: "adobe-garamond-pro",Garamond,Georgia,sans-serif;
			font-style: italic;
			color: rgba(108,106,115,1);
			font-size:1.3em;
			line-height: 1.3em;
		}
	}

	.contact-container {
		width: 100%;
		height: auto;
		position: relative;
		display: inline-block;
		text-align: center;
		padding-top: 60px;
		@media #{$mq-small} {
			padding-top:20px;
		}

		p {
			font-family: "adobe-garamond-pro",Garamond,Georgia,sans-serif;
			font-style:italic;
			font-size: 1.6em;
			color: rgba(85,85,90,1);
		}
		a {
			color: $color-teal;
			font-size:1.7em;
			font-weight: 200;
			line-height: 1.4em;
			@media #{$mq-big} {
				&:hover {
					color: black;
				}
			}
		}

		.contact {
			margin-top: 3em;
			height: auto;
			position:relative;
			padding-bottom:3em;
			 
			&:after {
				content: "";
				position: absolute;
				height: 2px;
				width: 60px;
				left: 50%;
				@include transform(translateX(-50%));
				bottom:0px;
				background-color: $color-text-light;
			}
		}
		.address {
			margin-top:3em;
			padding-bottom:6em;
			height: auto;
			@media #{$mq-small} {
				padding-bottom:3em;
			}
		}
	}
}

.bordered-button {
   display: inline-block;
   border: 2px solid rgba(122,145,195,1);
   letter-spacing: 2px;
   font-weight: bold;
   text-transform: uppercase;
   padding: 1.2em 5.5em;
   @include transition(all 0.15s);
   color:rgba(73,100,162,1);
   margin-top:1em;

   @media #{$mq-small} {
   	padding: 1.2em 0em;
   	width:90%;
   	margin-left: 5%;
   	margin-right:5%;
   }
   @media #{$mq-big} {
	   &:hover {
	      border: 2px solid $color-text;
	      color:black;
	   }
	}
}

.footer {
	position:relative;
	height:auto;
	width:100%;
	//background: url('../images/bg-footer.jpg') bottom center no-repeat fixed;
	background-image: url('../images/bg-footer.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	@media #{$mq-small} {
		background-position: right 0px bottom -6px;
	}
	.footer-logo {
		text-align: center;
		font-family: sans-serif;
		font-size: 1em;
		line-height: 1.5;
		color: rgba(25,25,25,1);
		margin: auto;
		font-size: 14em;
		padding-bottom:2em;
		@media #{$mq-small} {
			font-size:9em;
			padding-bottom: 1.6em;
		}
	}
}
